@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  height: 100vh;
  background: hsl(225, 100%, 94%) no-repeat;
}

.order-summary-card {
  margin: 0 auto;
  max-width: 340px;

  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 30px 60px -30px hsl(224, 23%, 70%);
}

.hero-image {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

.order-summary-info {
  padding: 2em;
  text-align: center;
}

.order-summary-info h3 {
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.order-blurb {
  margin-bottom: 1.5rem;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}

.item-summary {
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 14px;

  background-color: hsl(225, 100%, 98%);
  border-radius: 0.85rem;
}

.music-icon {
  padding-inline-end: 1rem;
}

.item-info strong {
  font-weight: 900;
}

.change-plan-button {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.price {
  color: hsl(224, 23%, 55%);
}

.payment-button {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-block: 1rem;

  text-decoration: none;
  background-color: hsl(245, 75%, 52%);
  color: white;

  border-radius: 0.85rem;
  box-shadow: 0 15px 25px hsl(240, 55%, 85%);
}

.cancel-button {
  font-weight: 700;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}
